{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <section class="hero__contacts padding-site">
        <header class="header">
            <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
            {% include 'includes/inc_menu.html' %}
        </header>
        <h1 class="hero__h1">Contacts</h1>
        <p>today: {{ visit_date|date:"l, j F, Y, H:i" }} (GMT{{ visit_date|date:"O" }})</p>
    </section>

    <div class="location padding-site">
        {% for location in locations %}
            <div class="location-1">
                <i class="fa fa-map-marker fa-5x"></i>
                <h4>{{ location.city }}</h4>
                <div class="contacts">
                    <h5>Телефон</h5>
                    <p>{{ location.phone }}</p>
                </div>
                <div class="contacts">
                    <h5>Email</h5>
                    <p>{{ location.email }}</p>
                </div>
                <div class="contacts">
                    <h5>Адрес</h5>
                    <p>{{ locarion.address }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}