<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9822b62e8c.js"></script>
</head>

<body>
    <div class="conteiner">
        <div class="top">
            <section class="hero padding-site">
                <header class="header">
                    <a class="logo" href="/"><img src="/static/img/logo.svg" alt="logo"></a>
                    <nav>
                        <ul class="menu">
                            <li><a class="menu__link" href="/">HOME</a></li>
                            <li><a class="menu__link" href="/products/">PRODUCTS</a></li>
                            <li><a class="menu__link" href=#>HISTORY</a></li>
                            <li><a class="menu__link" href=#>SHOWROOM</a></li>
                            <li><a class="menu__link menu__link_active" href="/contact/">CONTACT</a></li>
                            <li><a class="menu__link" href=#><img src="/static/img/search.svg" alt="search"></a></li>
                        </ul>
                    </nav>
                </header>
                <h1 class="hero__h1">Contacts</h1>
            </section>

            <div class="location padding-site">
                <div class="location-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                    <h4>Москва</h4>
                    <div class="contacts">
                        <h5>Телефон</h5>
                        <p>+7-888-888-8888</p>
                    </div>
                    <div class="contacts">
                        <h5>Email</h5>
                        <p>info@geekshop.ru</p>
                    </div>
                    <div class="contacts">
                        <h5>Адрес</h5>
                        <p>В пределах МКАД</p>
                    </div>
                </div>
                <div class="location-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                    <h4>Москва</h4>
                    <div class="contacts">
                        <h5>Телефон</h5>
                        <p>+7-888-888-8888</p>
                    </div>
                    <div class="contacts">
                        <h5>Email</h5>
                        <p>info@geekshop.ru</p>
                    </div>
                    <div class="contacts">
                        <h5>Адрес</h5>
                        <p>В пределах МКАД</p>
                    </div>
                </div>
                <div class="location-1">
                    <i class="fa fa-map-marker fa-5x"></i>
                    <h4>Москва</h4>
                    <div class="contacts">
                        <h5>Телефон</h5>
                        <p>+7-888-888-8888</p>
                    </div>
                    <div class="contacts">
                        <h5>Email</h5>
                        <p>info@geekshop.ru</p>
                    </div>
                    <div class="contacts">
                        <h5>Адрес</h5>
                        <p>В пределах МКАД</p>
                    </div>
                </div>
            </div>

            
        </div>

        <footer class="footer padding-site">
            <div class="footer__content">
                <div class="footer__block_contact-us">
                    <h3 class="footer__h3">Contact Us</h3>
                    <div class="footer__contacts-info">
                        <p class="footer__p">132A Bridge Road Richmond VIC Australia.</p>
                        <p class="footer__p">Talk to us on 1300 132 info@interior.com</p>
                    </div>
                </div>
                <div class="footer__block_useful-information">
                    <h3 class="footer__h3">Useful Information</h3>
                    <nav class="footer__useful-Information_block-links">
                        <ul class="footer__useful-Information_menu">
                            <li><a class="footer__useful-information_menu-links" href=#>Sales terms</a></li>
                            <li><a class="footer__useful-information_menu-links" href=#>Customer care</a></li>
                            <li><a class="footer__useful-information_menu-links" href=#>Delivery</a></li>
                        </ul>
                        <ul class="footer__useful-Information_menu">
                            <li><a class="footer__useful-information_menu-links" href=#>Architect accounts</a></li>
                            <li><a class="footer__useful-information_menu-links" href=#>Careers</a></li>
                            <li><a class="footer__useful-information_menu-links" href=#>Exchanges & returns</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__block_subscribe">
                    <h3 class="footer__h3">Let’s Stay in Touch!</h3>
                    <p class="footer__p">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <form class="footer__subscribe-form" action=#>
                        <input class="footer__input" type="email" placeholder="your email address">
                        <button class="footer__input-submit" type="submit"><i class="fab fa-telegram-plane"></i></button>
                    </form>
                </div>
            </div>
            <div class="footer__other-content">
                <p class="footer__copyrigt">© Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="box__social-icons">
                    <a class="social-icons__links" href=#><i class="fab fa-facebook-f"></i></a>
                    <a class="social-icons__links" href=#><i class="fab fa-twitter"></i></a>
                    <a class="social-icons__links" href=#><i class="fab fa-google-plus-g"></i></a>
                    <a class="social-icons__links" href=#><i class="fab fa-pinterest-p"></i></a>
                </div>
                <a class="footer__terms_policy" href=#>Terms & Conditions / Privacy policy & Cookies</a>
            </div>
        </footer>
    </div>
</body>

</html>
