{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <section class="hero padding-site">
                <header class="header">
                    <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    {% include 'includes/inc_menu.html' %}
                </header>
            </section>
            <section class="trending-product padding-site">
                {% include 'includes/inc_products_list_content.html' %}
            </section>
{% endblock %}