{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <section class="hero padding-site">
                <header class="header">
                    <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    {% include 'includes/inc_menu.html' %}
                </header>
            </section>
            <section class="trending-product padding-site">
                <div class="products__header product__menu__padding">
                    {% include 'includes/inc_categories_menu.html' %}
                </div>
                <div class="products_list">
                    <div>
                        <h6 class="product-card__h6">Категория: {{ category.name|title }}</h6>
                    <div class="paginator">
                      {% if products.has_previous %}
                        <a href="{% url 'products:page' category.pk products.previous_page_number %}">
                          <
                        </a>
                      {% endif %}
                      <span class="current">
                        страница {{ products.number }} из
                        {{ products.paginator.num_pages }}
                      </span>
                      {% if products.has_next %}
                        <a href="{% url 'products:page' category.pk products.next_page_number %}">
                          >
                        </a>
                      {% endif %}
                    </div>
                  </div>

                <div class="trending-product__content">


                    {% for product in products %}
                        <div class="trending__product-box" style="background-image: url(/media/{{ product.image }})">
                            <div class="product-card">
                                <a class="button product__button" href="{% url 'products:product' product.pk %}"><img class="product-card__arrow" src="{% static 'arrow.svg' %}" alt="arrow"></a>
                                <h6 class="product-card__h6">{{ product.name }}</h6>
                                <p class="product-card__p">{{ product.description }}</p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
{% endblock %}