{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <section class="hero padding-site">
                <header class="header">
                    <a class="logo" href="/"><img src="{% static '/img/logo.svg' %}" alt="logo"></a>
                    {% include 'includes/inc_menu.html' %}
                </header>
                <h1 class="hero__h1">Our Products Range</h1>
            </section>
            <section class="featured-product padding-site padding-even">
                <div class="featured-product__header">
                    {% include 'includes/inc_categories_menu.html' %}
                </div>
                <div class="featured-product__content">
                    <div class="product-box" style="background-image: url({% static '/img/product-1.jpg' %})">
                        <div class="product-card">
                            <a class="button product__button" href=#><img class="product-card__arrow" src="{% static '/img/arrow.svg' %}" alt="arrow"></a>
                            <h6 class="product-card__h6">Fishnet Chair</h6>
                            <p class="product-card__p">Seat and back with upholstery made of cold cure foam</p>
                        </div>
                    </div>
                    <div class="product-box" style="background-image: url(/static/img/product-2.jpg)">
                        <div class="product-card">
                            <a class="button product__button" href=#><img class="product-card__arrow" src="{% static '/img/arrow.svg' %}" alt="arrow"></a>
                            <h6 class="product-card__h6">Fishnet Chair</h6>
                            <p class="product-card__p">Seat and back with upholstery made of cold cure foam</p>
                        </div>
                    </div>
                    <div class="product-box" style="background-image: url(/static/img/product-3.jpg)">
                        <div class="product-card">
                            <a class="button product__button" href=#><img class="product-card__arrow" src="{% static '/img/arrow.svg' %}" alt="arrow"></a>
                            <h6 class="product-card__h6">Fishnet Chair</h6>
                            <p class="product-card__p">Seat and back with upholstery made of cold cure foam</p>
                        </div>
                    </div>
                    <div class="product-box" style="background-image: url(/static/img/product-4.jpg)">
                        <div class="product-card">
                            <a class="button product__button" href=#><img class="product-card__arrow" src="{% static '/img/arrow.svg' %}" alt="arrow"></a>
                            <h6 class="product-card__h6">Fishnet Chair</h6>
                            <p class="product-card__p">Seat and back with upholstery made of cold cure foam</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock %}