{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <section class="hero padding-site">
                <header class="header">
                    <a class="logo" href="/"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    {% include 'includes/inc_menu.html' %}
                </header>
            </section>
            <section class="padding-site">
                <div class="products__header">
                    {% include 'includes/inc_categories_menu.html' %}
                </div>
                <div class="details-products">
                    <div class="details-slider">
                        <div class="slider-product">
                            <img src="/media/{{ hot_product.image }}">
                        </div>
                        <div class="slider-control">
                            <div class="block">
                                <a href="#"><img class="slider-product__image" src="/media/{{ hot_product.image }}" alt="">
                                    <div class="text"></div>
                                </a>
                            </div>
                            <div class="block">
                                <a href="#"><img class="slider-product__image" src="/media/{{ hot_product.image }}" alt="">
                                    <div class="text"></div>
                                </a>
                            </div>
                            <div class="block">
                                <a href="#"><img class="slider-product__image" src="/media/{{ hot_product.image }}" alt="">
                                    <div class="text"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="description">
                        <h3 class="big-bold">{{ hot_product.name }}</h3>
                        <h3 class="red">горячее предложение</h3>
                        <p class="price"> {{ hot_product.price }} <span>руб</span></p>
                        <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
                            заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                        <div class="description-text">
                            {{ hot_product.description }}
                        </div>
                    </div>
                </div>

                <div class="trending-product__title">
                    <h2 class="trending-product__title_h2">Похожие товары</h2>
                    <a class="explore-all" href=#>показать все<img class="explore-all__arrow" src="{% static '/arrow.svg' %}" alt="arrow"></a>
                </div>
                <div class="trending-product__content">
                    {% for product in same_products %}
                        <div class="trending__product-box" style="background-image: url(/media/{{ product.image }})">
                            <div class="product-card">
                                <a class="button product__button" href="{% url 'products:product' product.pk %}"><img class="product-card__arrow" src="{% static '/arrow.svg' %}" alt="arrow"></a>
                                <h6 class="product-card__h6">{{ product.name }}</h6>
                                <p class="product-card__p">{{ product.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
{% endblock %}





