{% extends 'authapp/base.html' %}
{% load staticfiles %}
{% load my_tags %}

{% block content %}
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p}}
        <input class="form-control" type="submit" value="сохранить">
    </form>
    <form action="{% url 'main' %}">
        <button class="form-control" type="submit">На главную</button>
    </form>
    <div class="user_avatar"><img src="{{ user.avatar|media_folder_users }}"></div>
{% endblock %}
