{% load my_tags %}
{% for item in object_list %}
    <div class="basket_record">
    <form action="{% url 'basket:remove' item.pk %}" method="post">
        {% csrf_token %}
        <img src="{{ item.product.image|media_folder_products }}"
             alt="{{ item.product.short_desc }}">
        <span class="category_name">{{ item.product.category.name }}</span> 
        <span class="product_name">{{ item.product.name }}</span>
        <span class="product_price">{{ item.product.price }}&nbspруб</span>
        <input type="number" name="{{ item.pk }}" min="0" 
                             value="{{ item.quantity }}">
        <span class="product_cost">{{ item.cost }}&nbspруб</span>
        <button class="btn btn-round">
             удалить
        </button>
    </form>
    </div>
{% endfor %}

{% if object_list %}
    <div class="basket_summary">
        В корзине {{ object_list.0.total_quantity }} товаров общей стоимостью
        {{ object_list.0.total_cost }} руб
    </div>
{% endif %}
